<section id="about">
    <p class="section__text__p1">Get To Know More</p>
    <h1 class="title">About Me</h1>
    <div class="section-container">
      <div class="section__pic-container">
        <img
          src="./assets/profile.webp"
          alt="Profile picture"
          class="about-pic"
        />
      </div>
      <div class="about-details-container">
        <div class="about-containers">
          <div class="details-container">
            <img
              src="./assets/experience.png"
              alt="Experience icon"
              class="icon"
            />
            <h3>Experience</h3>
            <p>1+ years <br />Full Stack Development</p>
          </div>
          <div class="details-container">
            <img
              src="./assets/education.png"
              alt="Education icon"
              class="icon"
            />
            <h3>Education</h3>
            <p>Diploma Computer Engineering<br /></p>
          </div>
        </div>
        <div class="text-container">
          <p>
            Hello I'm <b> Kshitij Satpute </b>
            Computer diploma graduate with a strong foundation in Angular framework and Java.
            Eager to embark on my professional journey, I've honed my skills in web development through hands-on experience and
            coursework. As a fresher, I bring a fresh perspective and enthusiasm for learning. I am passionate about programming
            and excited to apply my knowledge to real-world challenges. I am currently seeking opportunities to gain valuable
            experience and contribute to innovative projects in the dynamic field of Fullstack development. 
          </p>
        </div>
      </div>
    </div>
    <img
      src="./assets/arrow.png"
      alt="Arrow icon"
      class="icon arrow"
      onclick="location.href='./#experience'"
    />
  </section>